@mixin button($button-type: '') {
    .btn {
        min-width: 170px;
        width: auto;
        max-width: 100%;
        height: auto;
        @include border-radius(30px);
        @include primaryFont(1.12rem, 400);
        @include transition();
        display: inline-flex;
        justify-content: center;
        align-items: center;
        position: relative;
        //padding: 8px 10px;
        margin: 5px 3px;
        border: none;
        text-decoration: none;

        @if $button-type == primary {
            &-primary {
                color: $main-color;
                background-color: $third-bg;
                border-color: transparent;
                padding: 8px 20px;
                @include transition();

                &:hover {
                    opacity: .9;
                    color: $main-color;
                    background-color: $third-bg;
                    border-color: transparent;
                }

                &:focus {
                    border-color: transparent;
                    box-shadow: none;
                    background-color: $third-bg;
                    color: $main-color;

                }
            }
        }

        @if $button-type == secondary {

            &-secondary {
                color: $color-text-dark;
                background-color: $second-bg;
                border-color: transparent;
                padding: 8px 20px;
                @include transition();

                &:hover {
                    opacity: .9;
                    color: $color-text-dark;
                    background-color: $second-bg;
                    border-color: transparent;
                }

                &:focus {
                    border-color: transparent;
                    box-shadow: none;
                    background-color: $second-bg;
                    color: $color-text-dark;
                }
            }
        }

        @if $button-type == special {

            &-special {
                color: $color-text-dark;
                background-color: transparent;
                padding: 0;
                margin: 0;
                @include transition();

                &:hover {
                    opacity: .9;
                    color: $third-color;
                    &::before {
                        right: 0;
                        background: $third-color;
                    }
                }

                &:focus {
                    border-color: transparent;
                    box-shadow: none;
                    background-color: transparent;
                    color: $color-text-dark;
                }
                &::before {
                    content: "";
                    position: absolute;
                    z-index: -1;
                    height: 2px;
                    width: auto;
                    left: 0;
                    right: 100%;
                    bottom: 0;
                    background: $color-text-dark;
                    border-radius: 1.5px;
                    @include transition();
                }
                &::after {
                    font-family: "Font Awesome 5 Free";
                    font-weight: 600;
                    content: "\f30b";
                    display: inline-block;
                    margin-left: .6rem;
                }
            }
        }

        @if $button-type == menu {

            &-menu {
                color: $color-text-dark;
                background-color: transparent;
                border: 2px solid $color-text-dark;
                padding: 8px 20px;
                @include transition();

                &:hover {
                    opacity: .8;
                }

                &:focus {
                    border-color: $color-text-dark;
                    box-shadow: none;
                    background-color: transparent;
                    color: $color-text-dark;
                }
            }
        }


        &-primary:not(:disabled):not(.disabled):active {
            border-color: transparent;
            box-shadow: none;
            background-color: $third-bg;
            color: $main-color;

            &:focus {
                box-shadow: none;
            }
        }
        &-secondary:not(:disabled):not(.disabled):active {
            border-color: transparent;
            box-shadow: none;
            background-color: $second-bg;
            color: $color-text-dark;

            &:focus {
                box-shadow: none;
            }
        }
        &-special:not(:disabled):not(.disabled):active {
            border-color: transparent;
            box-shadow: none;
            background-color: transparent;
            color: $color-text-dark;

            &:focus {
                box-shadow: none;
            }
        }
        &-menu:not(:disabled):not(.disabled):active {
            border-color: transparent;
            box-shadow: none;
            background-color: transparent;
            color: $color-text-dark;

            &:focus {
                box-shadow: none;
            }
        }
    }
}
