// for underline effect, still need to make changes to the a element transition: right .6s ease-in-out; , display: inline-block; , position: relative;
@mixin underline($background-color: $color-text , $height-value: 2px , $radius-value: 1px) {
    position: relative;
    text-decoration: initial;
    display: inline-block;
    @include transition();
    &::before {
        content: "";
        position: absolute;
        z-index: -1;
        height: $height-value;
        width: 100%;
        left: 0;
        right: 0;
        bottom: -1px;
        background: $background-color;
        border-radius: $radius-value;
        @include transition();
    }

    &:hover {
        &::before {
            height: 3px;
        }
    }
}
