// Import all your scss file in here and setup all code that is to specific or needs a higher level, keep this as clean as possible

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');
@import "utilities/mixins";
@import "base/breakpoints";
@import "base/colors";
@import "base/header";
@import "base/typography";
@import "base/reset";
@import "base/navbar";
@import "base/footer";
@import "base/forms";
@import "base/slick";
@import "base/buttons";
@import "utilities/list_reset";
@import "utilities/flex_centered";
@import "components/forms";
@import "components/icon-bar";
@import "components/pagination";
@import "components/search-form";
@import "components/space";
@import "components/separator";
@import "components/testimonial";
@import "components/heading_1";
@import "components/content";
@import "components/section";
@import "components/cards";
@import "components/events";
@import "components/news";
@import "components/partners";
@import "components/secretariat";
@import "components/lastest-news-events";
@import "components/image";
@import "components/single-event";
@import "components/meps";
@import "components/twitter-wall";
@import "components/subscribe_form";


::selection {
    background-color: $main-bg;
    color: $color-white;
    text-shadow: none;
}

::-moz-selection {
    background-color: $main-bg;
    color: $color-white;
    text-shadow: none;
}

main {
    flex: auto;
    margin-top: 95px;
    @media all and (max-width: 512px) {
        padding-top: 57px;
    }
}

.flex-centered {
    @include flex-centered;
}

.header-image {
    @media all and (min-width: $lg) {
        margin-bottom: 25px;
    }
}

.main-content {
    padding-top: 15px;
}

.grecaptcha-badge {
    visibility: collapse !important;
}

.text-center {
    text-align: center;
}

.inline {
    display: inline-block;
}

.page-background-white {
    background-color: $color-white;
}

table {
    tr:nth-child(odd) {
        background-color: #f2f2f2;
    }

    td {
        padding: 10px;
        @media all and (max-width: $lg) {
            display: inline-block;
            width: 100% !important;
        }
    }
}


nav.navbar {
    #mainmenu > li {
        text-align: center;
        font-size: 18px;
        span {
            display:none;
        }
        @media all AND (max-width: $lg) {
            display: block;
            margin-right: 15px;

            span {
                display:unset;
            }
        }

        a > i {
            line-height: 36px;
        }

        button > i {
            line-height: 22px;
        }

        a, a:link, a:visited, a:active, a:hover, a > span {
            text-decoration: none;
            cursor: pointer;
            color: $color-white;
        }

    }
}
