.btn {
  border-radius: 0;
  text-decoration: none;
  @include transition();
  @media all and (max-width: $lg) {
    font-size: 18px;
  }
  &.btn-primary {
    background-color: $main-color;
    color: $color-white;
    border: 2px solid $main-color;
    &:hover {
      background-color: $color-white;
      color: $main-color;
      @include transition();
    }
  }
  &.btn-secondary {
    background-color: $second-color;
    color: $color-white;
    border: 2px solid $second-color;
    &:hover {
      background-color: $color-white;
      color: $second-color;
      @include transition();
    }
  }
  &.btn-grey {
    background-color: $grey;
    color: $color-white;
    border: 2px solid $grey;
    &:hover {
      background-color: $color-white;
      color: $grey;
      @include transition();
    }
  }
  &.btn-blue {
    background-color: $third-color;
    color: $color-white;
    border: 2px solid $third-color;
    &:hover {
      background-color: $color-white;
      color: $third-color;
      @include transition();
    }
  }
  &.btn-default {
    background-color: $main-bg;
    color: $color-white;
    border: 2px solid $main-bg;
    &:hover {
      background-color: $color-white;
      color: $main-bg;
      @include transition();
    }
  }
}
