.navbar-brand {
  position: relative;
  z-index: 20;
  padding-top: 0;
  padding-bottom: 0;
  img {
    width: 100px;
  }
}
.navbar-container {
  background-color: $main-bg;
  border-bottom: 2px solid $lightGrey;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}
nav.navbar {
  @media all and (min-width: 1620px) {
    width: 80%;
  }
  margin: 0 auto;
  padding-top: 0;
  padding-bottom: 0;
  .tagline {
    a {
      color: white;
      text-decoration: none;
      &:hover {
        color: white;
      }
    }
  }
}
.navbar-light .navbar-toggler {
  border: 2px solid $second-bg;
  border-radius: 0;
}
.navbar-collapse {
  position: relative;
  z-index: 20;
  ul {
    li {
      @include list_reset;
      padding: 0.5rem 1rem;
      white-space: nowrap;
    }
  }
  a {
    text-decoration: none;
    color: $color-white;
    text-transform: uppercase;
    @include transition();
    border-bottom: 4px solid $main-bg;
    &:hover {
      @include transition();
      border-bottom: 4px solid $second-color;
    }
  }
  .dropdown-menu {
    background-color: $main-bg;
    a {
      color: $color-white;
    }
  }
}
.twitter-item {
  align-self: center;
  top: -5px;
  position: relative;
}
@media all and (max-width: $lg) {
  .tagline {
    padding-bottom: 13px;
  }
  .navbar-toggler {
    position: absolute;
    right: 21px;
    top: 20px;
    i {
      color: $color-white;
    }
  }
  nav.navbar {
    justify-content: center;
  }
  .navbar-collapse {
    li.menu-item {
      text-align: center;
      font-size: 18px;
      border-bottom: 1px solid rgba(255,255,255, 0.5);
    }
  }
}