// Basic reset on the html,body,img,main-container or a element
html, body {
    height: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;

    @media all and (max-width: $md) {
        font-size: 14px;
    }
    @media all and (max-width: $lg) {
        font-size: 16px;
    }
    @media all and (min-width: $lg) {
        font-size: 18px;
    }
    @media all and (min-width: 2560px) {
        font-size: 20px;
    }
}

body {
    @media all and (min-width: 1500px) {
        .container-md {
            max-width: 1310px;
        }
    }
    @media all and (min-width: 1920px) {
        .container-md {
             max-width: $xxl;
        }
    }

    .main-container {
        flex: 1 0 auto;
        .row {
        }
    }

    img {
        max-width: 100%;
        height: auto;
    }

    section {
        word-break: break-word;
    }
}
