.slick-arrow {
  display: block;
  background-color: $color-white;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 9;
  top: 50%;
  margin-top: -25px;
  cursor: pointer;
  &:before {
    color: $second-color;
    position: absolute;
    left: 15px;
    top: 14px;
    font-size: 20px;
  }
  &.prev {
    left: 0;
  }
  &.next {
    right: 0;
  }
}