.lazyblock-cards {
    align-items: stretch;
    position: relative;
    .card {
        border: none;
        background: transparent;
        @include transition();
        .card-img-wrapper {
            img {
                position: relative;
                top: 0;
                @include transition();
                &:hover {
                    top:  -5px;
                    @include transition();
                    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
                }
            }
        }
    }
}
