.lazyblock-latest-news-events {
    h2, p, a {
        position: relative;
    }

    .latest-news {
        padding-top: 15px;
        padding-bottom: 50px;

        @media screen and (min-width: $lg) {
            .latest-news-wrapper {
                height: 420px;
                overflow: hidden;
            }
        }

        .news-item-wrapper {
            position: relative;
        }

        .news-item-inner {
            .news-item-title {
                bottom: 0;
                font-size: 20px;
                color: $grey;
                text-decoration: none;
                left: 0;
                width: 100%;
                text-align: left;
                padding-top: 10px;
                @media screen and (max-width: $lg) {
                    text-indent: -99999px;
                    position:relative;
                    min-height:80px;
                    &:after {
                        position: absolute;
                        content:attr(title);
                        left:0;
                        top:0;
                        width:100%;
                        text-indent:0;
                        background-color: white;
                        color:black;
                        display:inline-block;
                    }
                }
            }
        }
    }

    .latest-events {
        padding-top: 15px;
        padding-bottom: 50px;

        .latest-event-wrapper {
            @media screen and (min-width: $lg) {
                height: 420px;
                overflow: hidden;


                .events-item-wrapper > a {
                    display: block;
                    height: 100%;

                    .events-item-inner {
                        height: 100%;
                        max-height: 285px;
                        overflow: hidden;

                        img {
                            //Magic numbers, aspect ratio of image is 4:3
                            height: 100%;
                            max-width: 133%;
                            float: right;
                        }
                    }
                }
            }

        }

        .latest-events-intro {
            h2, p, a {
                position: relative;
            }
        }
    }

    .view-all {
        align-self: flex-end;
    }
}