.lazyblock-partners {
  img {
    max-height: 104px;
  }
  .partner-inner {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    border: 1px solid $lightGrey;
    border-radius: 5px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .partner-link {
    align-self: flex-end;
  }
}
