.lazyblock-testimonial-content {
    align-items: center;
.testimonial-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 135px;
    width: 135px;
    border-radius: 50%;
    margin: 0 auto;
}
    blockquote {
        color: $third-color;
        @include primaryFont(1.1rem , 600);
        margin-bottom: 1rem;
    }
    span {
        &.person-name {
            color: $main-color;
            font-weight: 700;
        }
        &.person-position {

        }
    }
}
