.lazyblock-twitter-wall {
  .social-title {
    background-color: #d9dfe0;
    i {
      font-size: 40px;
    }
    h1 {
      display: inline-block;
    }
  }
  iframe {
    height: 100% !important;
    min-height: 500px;
  }
}